### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
# Finding number of unique players
player_count = len(purchase_data["SN"].unique())
player_count

576

* Display the total number of players

In [4]:
# Displaying total number of players in a data frame
total_player_df = pd.DataFrame({"Total Players":[player_count]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Calculating number of unique items
unique_item_count = len(purchase_data["Item ID"].unique())
unique_item_count

179

In [9]:
# Calculating average price
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [12]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                                     "Average Price of Items": [avg_price]})
purchase_analysis_df

   Number of Unique Items  Average Price of Items
0                     179                3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
# Calculating number of male players
male_players_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_count = len(male_players_df["SN"].unique())
male_count

484

In [28]:
# Calculating number of female players
female_players_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_count = len(female_players_df["SN"].unique())
female_count

81

In [30]:
# Calculating number of other/non-disclosed players
other_count = player_count - (male_count + female_count)
other_count

11

In [31]:
# Calculating percentages
percent_male = (male_count/player_count) * 100
percent_female = (female_count/player_count) * 100
percent_other = (other_count/player_count) * 100

In [32]:
# Creating gender demographics data frame
gender_demographics = pd.DataFrame({"Male Player Count":[male_count],
                                    "Percentage of Male Players":[percent_male],
                                    "Female Player Count":[female_count],
                                    "Percentage of Female Players":[percent_female],
                                    "Other/Non-Disclosed Player Count":[other_count],
                                    "Percentage of Other/Non-Disclosed Players":[percent_other]})
gender_demographics

,Male Player Count,Percentage of Male Players,Female Player Count,Percentage of Female Players,Other/Non-Disclosed Player Count,Percentage of Other/Non-Disclosed Players
0,484,84.027778,81,14.0625,11,1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
male_players_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [39]:
# Finding number of item purchases by males
male_purchases = len(male_players_df["Item Name"])
male_purchases

652

In [41]:
# Finding number of item purchases by females
female_purchases = len(female_players_df["Item Name"])
female_purchases

113

In [35]:
# Finding number of average purchase total per person by males
avg_purchases_male =

In [ ]:
# Finding number of average purchase total per person by females
avg_purchases_female =

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame