### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
# Finding number of unique players
player_count = len(purchase_data["SN"].unique())
player_count

576

* Display the total number of players

In [3]:
# Displaying total number of players in a data frame
total_player_df = pd.DataFrame({"Total Players":[player_count]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculating number of unique items
unique_item_count = len(purchase_data["Item ID"].unique())
unique_item_count

179

In [5]:
# Calculating average price
avg_price = round(purchase_data["Price"].mean(),2)
avg_price

3.05

In [6]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
number_of_purchases = len(purchase_data["Price"])
number_of_purchases

780

In [8]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                                     "Average Price of Items": [avg_price],
                                     "Number of Purchases":[number_of_purchases],
                                     "Total Revenue":[total_revenue]})
purchase_analysis_df

,Number of Unique Items,Average Price of Items,Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Calculating number of male players
male_players_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_count = len(male_players_df["SN"].unique())
male_count

484

In [10]:
# Calculating number of female players
female_players_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_count = len(female_players_df["SN"].unique())
female_count

81

In [11]:
# Calculating number of other/non-disclosed players
other_count = player_count - (male_count + female_count)
other_count

11

In [12]:
# Calculating percentages
percent_male = round((male_count/player_count) * 100,2)
percent_female = round((female_count/player_count) * 100,2)
percent_other = round((other_count/player_count) * 100,2)

In [13]:
# Creating gender demographics data frame
gender_demo = pd.DataFrame({
    "Gender":["Male","Female","Other/Non-Disclosed"],
    "Player Count":[male_count,female_count,other_count],
    "Percentage of Players":[percent_male,percent_female,percent_other]
})
gender_demo

                Gender  Player Count  Percentage of Players
0                 Male           484                  84.03
1               Female            81                  14.06
2  Other/Non-Disclosed            11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
male_players_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [15]:
# Finding number of item purchases by males
male_purchases = len(male_players_df["Item Name"])
male_purchases

652

In [16]:
# Finding number of item purchases by females
female_purchases = len(female_players_df["Item Name"])
female_purchases

113

In [17]:
# Finding number of average purchase total per person by males
avg_purchases_male = round(male_players_df["Price"].mean(),2)
avg_purchases_male

3.02

In [18]:
# Finding number of average purchase total per person by females
avg_purchases_female = round(female_players_df["Price"].mean(),2)
avg_purchases_female

3.2

In [19]:
# Calculations for other/non-disclosed players
other_players_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
other_purchases = len(other_players_df["Item Name"])
avg_purchases_other = round(other_players_df["Price"].mean(),2)

In [20]:
# Calculating total purchases for male, female and other
total_purchase_male = male_players_df["Price"].sum()
total_purchase_female = female_players_df["Price"].sum()
total_purchase_other = other_players_df["Price"].sum()

In [21]:
# Creating purchase analysis data frame
purchase_analysis_df = pd.DataFrame({
    "Gender":["Male","Female","Other/Non-Disclosed"],
    "Number of Purchases":[male_purchases,female_purchases,other_purchases],
    "Average Purchase Price":[avg_purchases_male,avg_purchases_female,avg_purchases_other],
    "Total Purchase Value":[total_purchase_male,total_purchase_female,total_purchase_other]
})
purchase_analysis_df

,Gender,Number of Purchases,Average Purchase Price,Total Purchase Value
0,Male,652,3.02,1967.64
1,Female,113,3.20,361.94
2,Other/Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
# Showing all ages of male players
purchase_data["Age"].unique()

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

In [23]:
# Creating a bin of ages of all players
age_bins = [0,9,14,19,24,29,34,39,45]
# Creating labels for bins
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [24]:
# Slicing data and placing data series into a new column
pd.cut(purchase_data["Age"],age_bins,labels=age_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [25]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins,labels=age_labels,include_lowest=True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [26]:
# Checking number of unique and non-unique players within age groups
age_group = purchase_data.groupby(["Age Group"])
unique_age_group = age_group['SN'].nunique()
unique_age_group

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [27]:
#Checking number of non-unique players within age groups
non_unique_age_group = age_group['SN'].count()
non_unique_age_group

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [28]:
# Calculating percent of each age group
age_group_percentage = ((age_group["SN"].nunique()/player_count) * 100).map("{:.2f}%".format)

In [29]:
# Merging both data frames and cleaning up column names
age_demo = pd.DataFrame({
    "Total Count":unique_age_group,
    "Percentage of Players":age_group_percentage
})
age_demo

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Total purchase value
total_purchase_value = round(age_group["Price"].sum(),2).map("${:.2f}".format)
total_purchase_value

Age Group
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24    $1114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: object

In [31]:
# Average purchase price
avg_purchase_price = age_group["Price"].mean().map("${:.2f}".format)
avg_purchase_price

Age Group
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
Name: Price, dtype: object

In [32]:
# Average total purchase per person
avg_total_per_purchase = (age_group['Price'].sum()/age_group["SN"].nunique()).map("${:.2f}".format)
avg_total_per_purchase

Age Group
<10      $4.54
10-14    $3.76
15-19    $3.86
20-24    $4.32
25-29    $3.81
30-34    $4.12
35-39    $4.76
40+      $3.19
dtype: object

In [33]:
purchase_analysis_age = pd.DataFrame({
    "Purchase Count":non_unique_age_group,
    "Average Purchase Price":avg_purchase_price,
    "Total Purchase Value":total_purchase_value,
    "Avg Total Purchase Per Person":avg_total_per_purchase
})
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
# Grouping by player
group_names = purchase_data.groupby(["SN"])
group_names.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [35]:
# Obtaining total purchases by each player
total_spenders = group_names["Price"].sum()
total_spenders

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [36]:
price_count = group_names["Item Name"].count()
price_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Item Name, Length: 576, dtype: int64

In [37]:
avg_value = (total_spenders/price_count)
avg_value = avg_value.map("${:.2f}".format)

In [38]:
top_spenders_df = pd.DataFrame({
    "Purchase Count":price_count,
    "Average Purchase Price":avg_value,
    "Total Purchase Value":total_spenders.map("${:.2f}".format)
})
top_spenders_df_sorted = top_spenders_df.sort_values(['Total Purchase Value'],ascending=False)
top_spenders_df_sorted

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18
...                      ...                    ...                  ...
Qilalista41                1                  $1.02                $1.02
Ililsasya43                1                  $1.02                $1.02
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Alo38                      1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
# Grouping by Item ID and Item Name
item_group = purchase_data.groupby(["Item ID","Item Name"])
item_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [40]:
# Obtaining top items purchased and their purchase count
item_purchase_count = item_group["Item Name"].count()
item_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item Name, Length: 179, dtype: int64

In [41]:
# Obtaining total purchase value of each item
total_item_value = item_group["Price"].sum()
total_item_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [42]:
item_price = (total_item_value/item_purchase_count).map("${:.2f}".format)
item_price

Item ID  Item Name
0        Splinter                                        $1.28
1        Crucifer                                        $2.94
2        Verdict                                         $2.48
3        Phantomlight                                    $2.49
4        Bloodlord's Fetish                              $1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    $4.23
179      Wolf, Promise of the Moonwalker                 $4.48
181      Reaper's Toll                                   $1.66
182      Toothpick                                       $4.03
183      Dragon's Greatsword                             $1.09
Length: 179, dtype: object

In [55]:
most_popular_items = pd.DataFrame({
    "Purchase Count":item_purchase_count,
    "Item Price":item_price,
    "Total Purchase Value":total_item_value.map("${:.2f}".format)
})

most_popular_items = most_popular_items.sort_values(["Purchase Count"],ascending=False)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [58]:
most_popular_items_descending = most_popular_items.sort_values(["Total Purchase Value"],ascending=True)
most_popular_items_descending

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
42,The Decapitator,1,$1.75,$1.75
104,Gladiator's Glaive,1,$1.93,$1.93
110,Suspension,7,$1.44,$10.08
151,Severance,3,$3.40,$10.20
106,Crying Steel Sickle,3,$3.41,$10.23
...,...,...,...,...
143,Frenzied Scimitar,6,$1.56,$9.36
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
173,Stormfury Longsword,2,$4.93,$9.86
29,"Chaos, Ender of the End",5,$1.98,$9.90
63,Stormfury Mace,2,$4.99,$9.98