### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
# Finding number of unique players
player_count = len(purchase_data["SN"].unique())
player_count

576

* Display the total number of players

In [3]:
# Displaying total number of players in a data frame
total_player_df = pd.DataFrame({"Total Players":[player_count]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculating number of unique items
unique_item_count = len(purchase_data["Item ID"].unique())
unique_item_count

179

In [63]:
# Calculating average price
avg_price = round(purchase_data["Price"].mean(),2)
avg_price

3.05

In [60]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [61]:
number_of_purchases = len(purchase_data["Price"])
number_of_purchases

780

In [64]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                                     "Average Price of Items": [avg_price],
                                     "Number of Purchases":[number_of_purchases],
                                     "Total Revenue":[total_revenue]})
purchase_analysis_df

,Number of Unique Items,Average Price of Items,Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Calculating number of male players
male_players_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_count = len(male_players_df["SN"].unique())
male_count

484

In [8]:
# Calculating number of female players
female_players_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_count = len(female_players_df["SN"].unique())
female_count

81

In [9]:
# Calculating number of other/non-disclosed players
other_count = player_count - (male_count + female_count)
other_count

11

In [10]:
# Calculating percentages
percent_male = round((male_count/player_count) * 100,2)
percent_female = round((female_count/player_count) * 100,)
percent_other = round((other_count/player_count) * 100,2)

In [11]:
# Creating gender demographics data frame
gender_demo = pd.DataFrame({
    "Gender":["Male","Female","Other/Non-Disclosed"],
    "Player Count":[male_count,female_count,other_count],
    "Percentage of Players":[percent_male,percent_female,percent_other]
})
gender_demo

                Gender  Player Count  Percentage of Players
0                 Male           484                  84.03
1               Female            81                  14.00
2  Other/Non-Disclosed            11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
male_players_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [13]:
# Finding number of item purchases by males
male_purchases = len(male_players_df["Item Name"])
male_purchases

652

In [14]:
# Finding number of item purchases by females
female_purchases = len(female_players_df["Item Name"])
female_purchases

113

In [15]:
# Finding number of average purchase total per person by males
avg_purchases_male = round(male_players_df["Price"].mean(),2)
avg_purchases_male

3.02

In [16]:
# Finding number of average purchase total per person by females
avg_purchases_female = round(female_players_df["Price"].mean(),2)
avg_purchases_female

3.2

In [17]:
# Creating purchase analysis data frame
purchase_analysis_df = pd.DataFrame({
    "Gender":["Male","Female"],
    "Number of Purchases":[male_purchases,female_purchases],
    "Average Purchases":[avg_purchases_male,avg_purchases_female]
})
purchase_analysis_df

   Gender  Number of Purchases  Average Purchases
0    Male                  652               3.02
1  Female                  113               3.20

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# Showing all ages of male players
purchase_data["Age"].unique()

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

In [19]:
# Creating a bin of ages of all players
age_bins = [0,5,10,15,20,25,30,35,40,45]
# Creating labels for bins
age_labels = ["0-5","5-10","10-15","15-20","20-25","25-30","30-35","35-40","40-45"]

In [20]:
# Slicing data and placing into bins
pd.cut(purchase_data["Age"],age_bins,labels=age_labels).head()

0    15-20
1    35-40
2    20-25
3    20-25
4    20-25
Name: Age, dtype: category
Categories (9, object): [0-5 < 5-10 < 10-15 < 15-20 ... 25-30 < 30-35 < 35-40 < 40-45]

In [21]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins,labels=age_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-25
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-25
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-20
778,778,Sisur91,7,Male,92,Final Critic,4.19,5-10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-25

In [31]:
# Checking number of players within age groups
age_group = purchase_data.groupby("Age Group")
view_age_group = age_group[["Age Group"]].count()
view_age_group = view_age_group.rename(columns={"Age Group":"Age Group Count"})
view_age_group.head()

           Age Group Count
Age Group
0-5                      0
5-10                    32
10-15                   54
15-20                  200
20-25                  325

In [37]:
age_group_percentage = round((age_group[["Age Group"]].count()/player_count) * 100,2)
age_group_percentage = age_group_percentage.rename(columns={"Age Group":"Age Group Percentage"})
age_group_percentage.head()

           Age Group Percentage
Age Group
0-5                        0.00
5-10                       5.56
10-15                      9.38
15-20                     34.72
20-25                     56.42

In [42]:
age_demo = pd.merge(view_age_group,age_group_percentage,on="Age Group",how="outer")
age_demo

           Age Group Count  Age Group Percentage
Age Group
0-5                      0                  0.00
5-10                    32                  5.56
10-15                   54                  9.38
15-20                  200                 34.72
20-25                  325                 56.42
25-30                   77                 13.37
30-35                   52                  9.03
35-40                   33                  5.73
40-45                    7                  1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

63     1.00
418    1.00
371    1.01
586    1.01
282    1.01
       ...
246    4.94
116    4.94
231    4.94
189    4.99
554    4.99
Name: Price, Length: 780, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame